<div
  class="d-flex justify-content-between align-items-center p-3 border-bottom border-3"
>
  <!-- Logo -->
  <div>
    <img src="assets/logo_mercadona.png" alt="mercadona" class="logo" />
  </div>

  <!-- Login / Logout -->
  <div class="ml-auto">
    <button class="btn btn-primary btn-success d-flex" (click)="onClick(!userLogged.isLogged)">
      <div class="mx-3">{{ userLogged.name }}</div>
      <div>
        <span class="material-icons">
          {{ userLogged.isLogged ? "login" : "logout" }}
        </span>
      </div>
    </button>
  </div>
</div>
