<div
  class="d-flex justify-content-between align-items-center p-3 border-bottom border-3"
>
  <!-- Logo -->
  <div>
    <img src="assets/logo_mercadona.png" alt="mercadona" class="logo" />
  </div>

  <!-- Login / Logout -->
  <div class="ml-auto">
    <div [hidden]="userLogged.isLogged">
      <button
        class="btn btn-primary btn-success d-flex"
        (click)="onClick(true)"
      >
      <div class="mx-3">{{ userLogged.name }}</div>
        <div><span class="material-icons"> login </span></div>
      </button>
    </div>
    <div [hidden]="!userLogged.isLogged">
      <button
        class="btn btn-primary btn-success d-flex"
        (click)="onClick(false)"
      >
        <div class="mx-3">{{ userLogged.name }}</div>
        <div><span class="material-icons"> logout </span></div>
      </button>
    </div>
  </div>
</div>
