<div class="window-info text-bg-light p-4 card shadow rounded-3">
  <h3 class="fw-bold">Tornillos</h3>
  <!-- Número de tornillos existentes -->
  <h4 class="fw-light mt-3">{{registros}} registros a revisar</h4>
  <hr class="mt-5" />
  <!-- Hacer el boton disabled hasta que se loggee -->
  <div class="card-body d-flex flex-column">
    <div class="d-flex justify-content-center">
      <button
        class="btn btn-success d-flex justify-content-center"
        [disabled]="!userLogged.isLogged"
      >
        <div class="me-3">
          <span class="material-icons"> visibility </span>
        </div>
        Revisar
      </button>
    </div>
    <div class="fs-6 text-muted mt-2 text-center" [hidden]="userLogged.isLogged">
      Inicie sesión para revisar datos, por favor
    </div>
  </div>
</div>
