<!-- Header -->
<app-header [userLogged]="userLogged" (onChangeState)="onChangeState($event)"></app-header>

<!-- Página inicial (NO ESTAMOS LOGADOS NI VIENDO DATOS) -->
<div [hidden]="!isHomePage">
  <!-- Home page -->
  <app-home></app-home>

  <!-- Ventana info de inicio -->
  <div class="ventana-info d-flex justify-content-center">
    <app-window-info [userLogged]="userLogged" [registros]="tornillos.length"></app-window-info>
  </div>
</div>




<!-- 
<div class="fixed-bottom d-flex justify-content-center py-3">
    <button class="btn btn-primary px-3">{{title}}</button>
</div> -->
