<!-- Header (Nos permite logearnos o salirnos)-->
<app-header
  [userLogged]="userLogged"
  (onChangeState)="onChangeState($event)"
></app-header>

<!-- Página inicial -->
<div [hidden]="!isHomePage">
  <!-- Home page -->
  <app-home></app-home>

  <!-- Ventana info de inicio -->
  <app-window-info
    [userLogged]="userLogged"
    [registros]="tornillos.length"
    (onRevisar)="onRevisar()"
    [hidden]="isLoading"
  ></app-window-info>

  <div class="box-spinner" [hidden]="!isLoading">
    <div class="my-spinner spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="text-center mt-3 fs-3">Cargando...</div>
  </div>
</div>

<div [hidden]="isHomePage">
  <app-listado-page></app-listado-page>
</div>
